Telegram_Calendar_Agent__Reddit_.json
{
  "name": "Telegram Calendar Agent (Reddit)",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "User Message"
            },
            {
              "name": "chat ID",
              "type": "number"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "6c540c4e-d511-4904-a9f6-109beb585e66",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['User Message'] }}",
        "options": {
          "systemMessage": "You are calendar_agent 📅 – a reliable assistant who helps the user with anything related to their calendar.\nYou receive a single message from the user (called User Message) that is passed from Telegram. Your job is to clearly understand what the user wants and assist them politely and efficiently.\nYou handle only calendar-related tasks. These include:\n📌 Booking new events (e.g., \"Schedule a meeting on Friday at 10 AM\")\n\n\n✏️ Updating existing events (e.g., \"Change the time of tomorrow's call to 3 PM\")\n\n\n🗑️ Deleting events (e.g., \"Cancel the doctor appointment on August 5\")\n\n\n📋 Retrieving event details (e.g., \"What's on my calendar for next week?\")\n\n\n\n🧠 What you must do:\nCarefully read the User Message and understand what the user is asking.\n\n\nIf the user refers to “today” or “tomorrow”, automatically calculate the correct date based on the current system time and timezone – no need to ask the user for a date.\n\n\nIf the user mentions a day of the week (like “Monday” or “Friday”), politely ask the user to confirm the specific date to avoid confusion.\n\n\nReply with a short, clear, and friendly message confirming the action or asking for more details.\n\n\nIf the user’s request is unclear or incomplete, ask them politely for clarification. Example:\n\n\n \"Hi there! 😊 Could you please tell me the event name, date, and time so I can help you better?\"\n\n\n\n\n🔒 Important:\nOnly respond to calendar-related tasks.\n\n\nDo not guess or assume anything that the user didn’t say.\n\n\nDo not perform email-related tasks – those are handled by email_agent.\n\n\nKeep your tone friendly, helpful, and always use emojis where appropriate 💬✨\n\n\nYou're now ready to assist! Just read the message and respond accordingly 📅✅\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "af882008-bbbe-4ab6-9b83-ca68854c0a2f",
      "name": "Calendar Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json['chat ID'] }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        180,
        200
      ],
      "id": "ea0f958b-0154-4176-86e1-aa9a47937e01",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "vishnusr023@gmail.com",
          "mode": "list",
          "cachedResultName": "vishnusr023@gmail.com"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        300,
        200
      ],
      "id": "ada870cd-ab1b-4d13-95c3-d858dd18d207",
      "name": "Create Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "bhsMawONwOZ6tLkc",
          "name": "Nil"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "vishnusr023@gmail.com",
          "mode": "list",
          "cachedResultName": "vishnusr023@gmail.com"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        420,
        200
      ],
      "id": "eb45b0a5-c0a5-4c07-b7d4-25098c127f67",
      "name": "Get Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "bhsMawONwOZ6tLkc",
          "name": "Nil"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "vishnusr023@gmail.com",
          "mode": "list",
          "cachedResultName": "vishnusr023@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        540,
        200
      ],
      "id": "211bb396-088f-41c8-ac0e-cb70dfc2c2df",
      "name": "Update Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "bhsMawONwOZ6tLkc",
          "name": "Nil"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "vishnusr023@gmail.com",
          "mode": "list",
          "cachedResultName": "vishnusr023@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        680,
        200
      ],
      "id": "9da87415-2d57-4336-803a-a6d2da308b23",
      "name": "Delete Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "bhsMawONwOZ6tLkc",
          "name": "Nil"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        40,
        200
      ],
      "id": "aa61a5bb-d8fa-4d42-8434-75783c4cf915",
      "name": "Calendar AI",
      "credentials": {
        "openAiApi": {
          "id": "p54f87oDcyoAQ13u",
          "name": "Nil"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Calendar Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar AI": {
      "ai_languageModel": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8a3c788d-1dd3-4284-b58f-806e9cd52aea",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "486b3918d83345a21c3d5061a20fa8219700ba4ab2edaaa9cda56713faac1fef"
  },
  "id": "qLchPJRlhaCljEnM",
  "tags": [
    {
      "createdAt": "2025-07-22T17:14:03.199Z",
      "updatedAt": "2025-07-22T17:14:03.199Z",
      "id": "RxeJgvsMzktR3D8h",
      "name": "Telegram"
    },
    {
      "createdAt": "2025-07-07T14:05:49.136Z",
      "updatedAt": "2025-07-07T14:05:49.136Z",
      "id": "dxLCRBFTiNpbUIta",
      "name": "AI Automation"
    }
  ]
}